<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Request</title>
</head>
<body>
  <p>Tenant Name:<%= request.tenantName %></p>
  <p>Property Type:<%= request.propertyType%></p>
  <p>Sub Category:<%= request.subCategory %></p>
  <p>Address:<%= request.address %></p>
  <p>Subject:<%= request.subject %></p>
  <p>Description:<%= request.description %></p>
  <p>Request Date<%= request.date %></p>
  <p>Status:<%= request.status %></p>
  <p>For further details contact at: <%= request.tenant.email %></p>
</body>
</html>