<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentEstate | My Owners | Tenant Portal</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="stylesheets/my_owners.css">

</head>

<body>   


  <div class="navbar">
    <img src="/images/Logo.svg" alt="Logo">
    <div class="heading">RentEstate</div>
    <div class="tabs">
      <a href="/" class="button">Home</a>
      <a href="/vacancies" class="button">Vacancies</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
      ☰
    </a>
  </div>

  <div id="myLinks" class="overlay">
    <a href="javascript:void(0);" class="closebtn" onclick="toggleMenu()">&times;</a>
    <a href="/" class="button">Home</a>
    <a href="/vacancies" class="button">Vacancies</a>
  </div>

  <section class="container">

    <div class="side fit">   

    <div class="sidebar">
    
      <ul class="main_feature">
        <a href="/tenant_portal" class="feature">
          <li>My Profile</li>
        </a>
        <a href="/tenant_properties" class="feature">
          <li>My Properties</li>
        </a>
        <a href="/vacancies" class="feature">
          <li>Find Vacancies</li>
        </a>
      </ul>

      <h3 class="text">~Owners</h3>
      <ul class="main_feature">
        <a href="#" class="feature">
          <li>My Owners</li>
        </a>
        <a href="/message" target="_blank" class="feature"> 
          <li>Messages</li>
        </a>
      </ul>
    </div>

    <div id="sidebar_icon">
      <img src="/images/sidebar-icon.png" alt="error" class="icon1">
    </div>
  
   </div>

    <div class="diff_features">
          <!-- MY PROFILE HTML -->
      <div class="myTenants">

         <div class="tenant">
          <div class="tenant_content">
           <div class="circle">MJ</div>

           <div class="textbox">
            <h3>Name</h3>
            <h4>Manan Jiwnani</h4>
           </div>

           <div class="textbox">
            <h3>Email</h3>
            <h4>njfwe@gmail.com</h4>
           </div>

           <div class="textbox">
            <h3>Contact</h3>
            <h4>7984227146</h4>
           </div>

           <div class="textbox">
            <h3>Property Id</h3>
            <h4>1@345</h4>
           </div>

           
           <div class="textbox view">
             <h3>Property Details</h3>
             <button id="view">view</button>
            </div>
            
            <div class="sendMsg">
              <button>Send Messege</button>
            </div>
            
            <div class="hoverbox">
              </div>
         </div>
      </div>
      </div>

    </div>

<!--<div class="tenant"> 

    <% if(properties.length==0) { %>
      <p style=" text-align: center; color: black;"> YOU DON'T HAVE ANY PROPERTIES BOUGHT RENT  </p>
    <% } %> 

    <% properties.forEach(property=> { %>
      <div class="tenant_content">
        <p class="textbox"><%= property.owner.name %></p> 
        <p class="textbox"><%= property.owner.email %></p>
        <p class="textbox"><%= property.owner.contact %></p>
        <p class="textbox"><%= property.price %></p>
        <p class="textbox" style="color: black;"><%= property._id %></p>
      </div>            
    <% }) %>
  </div> -->

  </section>




  <script src="javascripts/my_owners.js"></script>
</body>

</html>
