<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentEstate | Owner Portal | My Properties</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/owner_portal.css">
</head>

<body>

  <div class="navbar">
    <img src="/images/Logo.svg" alt="Logo">
    <div class="heading">RentEstate</div>
    <div class="tabs">
      <a href="/" class="button">Home</a>
      <a href="/vacancies" class="button">Vacancies</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
      ☰
    </a>
  </div>
  <div id="myLinks" class="overlay">
    <a href="javascript:void(0);" class="closebtn" onclick="toggleMenu()">&times;</a>
    <a href="/" class="button">Home</a>
    <a href="/vacancies" class="button">Vacancies</a>
  </div>
  <section class="container">
    <div class="sidebar" id="mp_sidebar">
      <ul class="main_feature">
        <a href="/owner_portal" class="feature">
          <li id="myProfile">My Profile</li>
        </a>
        <a href="/myProperties" class="feature">
          <li>My Properties</li>
        </a>
        <a href="/addProperties" class="feature">
          <li>Add Properties</li>
        </a>
      </ul>

      <h3 class="text">~TENANTS</h3>
      <ul class="main_feature">
        <a href="/my_tenants" class="feature">
          <li>My Tenants</li>
        </a>
        <a href="/tenant_req" class="feature">
          <li>Tenant Requests</li>
        </a>
        <a href="/message" class="feature">
          <li>Messages</li>
        </a>
      </ul>

      <h3 class="text">~TOOLS</h3>
      <ul class="main_feature">
        <a href="/rent_estimate" class="feature">
          <li>Rent Estimate</li>
        </a>
      </ul>
    </div>

    <div class="diff_features">
      <div class="features_display My_properties">
        <h1 class="MAIN_text">Rented Out Properties</h1>
        <hr>
        <div id="rented-properties-list" class="listings">
          <% if(properties.length==0) { %>
            <p> NO PROPERTIES AVAILABLE </p>
            <% } %>

              <% properties.forEach(property=> { %>
                <% if (property.rentedOut) { %>




                  <div class="card">
                    <img src="<%= property.image.path %>" alt="Property Image" class="img">
                    <div class="bg"></div>
                            <div class="card-content">
                        <h2 class="card-title">
                          <%=property.subCategory%>
                            <%=property.propertyType%>
                        </h2>
                        <p class="card-location">
                          <%=property.address%>, <%=property.city%>, <%=property.state%>
                        </p>
                        <p class="card-price">₹<%=property.price%>/month</p>
                        <a href="/property" class="prop"><button class="card-button">View Details</button></a>
                      </div>
             
                  </div>
                 
                  <% } %>
                    <% }) %>
        </div>
        <h1 class="MAIN_text">Other Properties</h1>
        <hr>

        <div id="other-properties-list" class="listings">

          <% if(properties.length==0) { %>
            <p> NO PROPERTIES AVAILABLE </p>
            <% } %>

              <% properties.forEach(property=> { %>
                <% if (!property.rentedOut) { %>

                  <div class="grid_item">
                  <div class="property-item">
                  
                    <img src="<%= property.image.path %>" alt="Property Image" class="img">
                    <div class="bg"></div>
                            <div class="card-content">
                        <h2 class="card-title">
                          <%=property.subCategory%>
                            <%=property.propertyType%>
                        </h2>
                        <p class="card-location">
                          <%=property.address%>, <%=property.city%>, <%=property.state%>
                        </p>
                        <p class="card-price">₹<%=property.price%>/month</p>
                        <a href="/vacancies/<%=property._id%>" class="prop"><button class="card-button">View Details</button></a>
                        <form action="/markAsRented" method="POST" style="display:inline;">
                          <input type="hidden" name="propertyId" value="<%= property._id %>">
                         
                        </form>
                      </div>
             
                  </div>
                  </div>

                  
                  <% } %>
                    <% }) %>
        </div>
      </div>
    </div>

  </section>

  <script>
    async function rentOutProperty(propertyId) {
      try {
        const response = await fetch(`/myProperties/${propertyId}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        });
        if (response.ok) {
          alert('Property Rented Out successfully');
          location.reload();
        } else {
          alert('Failed to mark Property As Rented');
        }
      } catch (error) {
        console.error('Error:', error);
        alert('An error occurred while renting out the property');
      }
    }

    function confirmRentOutProperty(propertyId) {
      const confirmation = confirm('DO YOU WANT TO RENT OUT THE PROPERTY?');
      if (confirmation) {
        rentOutProperty(propertyId);
      }
    }
  </script>


</body>

</html>
