<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Property</title>
  <link rel="stylesheet" href="/stylesheets/property.css">
</head>

<body>
  <div class="card">
   
        <h2>
          <%= property.propertyType %> - <%= property.subCategory %>
        </h2>
       
        <p>Owner: <%= property.ownerName %>
        </p>
        <p>Price: <%= property.price %>
        </p>
        <p>Description: <%= property.description %>
        </p>
        <p>City: <%= property.city %>
        </p>
        <p>State: <%= property.state %>
        </p>
        <p>Carpet Area: <%= property.carpetArea %>
        </p>
        <p>Address: <%= property.address %>
        </p>
        <p>Ownership Type :<%= property.ownershipType %>
        </p>
        <p>Pet Policy: <%= property.petPolicy %>
        </p>
        <p>Furnished Status: <%= property.furnishedStatus %>
        </p>
        <p>Property Age: <%= property.propertyAge %>
        </p>
        <p>Amenities: <%= property.amenities %>
        </p>
        <p>Rented Out: <%= property.rentedOut ? 'Yes' : 'No' %>
        </p>
        <div>
          <p>
          <h3>Images:</h3><a>
            <img src="<%= property.image.path %>" alt="Property Image" class="card-img">
          </a></p>

        </div>
        
     




  </div>
</body>

</html>
