<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentEstate | Property</title>
  <link rel="stylesheet" href="/stylesheets/property.css">
</head>

<body>
  <div class="card">


    <div class="box chiki">
      <div class="decorate"></div>
      <div class="box1">

        <div class="heading">

          <div class="main_text">
            <h2>
              <%= property.subCategory %>
                <%= property.propertyType %>
            </h2>
          </div>

          <div class="text">
            <%= property.address %>, <%= property.city %>, <%= property.state %>
          </div>
        </div>
        <div class="text Description">
          <%= property.description %>
        </div>

      </div>
    </div>


    <div class="box2">

      <div class="square">

        <div class="main">
          <div class="textbox square_values">
            <h3>Rent</h3>
            <h4>
              <%= property.price %>
            </h4>
          </div>

          <div class="textbox square_values">
            <h3>Carpet Area</h3>
            <h4>
              <%= property.carpetArea %>
            </h4>
          </div>
        </div>

      <% if(ROLE == 'tenant') { %>
        <form class="pay-form" action="/createOrder" method="POST">
          <input type="hidden" name="name" value="<%=property.propertyType%> <%=property.subCategory%>">
          <input type="hidden" name="price" value="<%=property.price%>">
          <input type="hidden" name="property_id" value="<%= property._id %>">
          <input type="submit" value="Pay Now" class="pay">
          <input type="button" value="Contact Owner" class="contact">
        </form>
      <% } %>

      <% if(ROLE == 'owner' && rented) { %>
        <form action="/unRent"  method="post">
          <input type="hidden" name="property_id" value="<%= property._id%>">
          <input type="submit" value="UNRENT" class="unrent">
        </form>
      <% } %>

      </div>


      <img src="<%= property.image.path %>" alt="Property Image" class="img">


    </div>


    <div class="box">
      <div class="box3">

        <div class="feature">
          <div class="textbox">
            <h3>Amenities</h3>
            <h4>
              <%= property.amenities %>
            </h4>
          </div>
        </div>
        <hr>
        <div class="prop_details">
          <div class="textbox">
            <h3>Pet Policy</h3>
            <h4>
              <%= property.petPolicy %>
            </h4>
          </div>
          <div class="textbox">
            <h3>Ownership Type</h3>
            <h4>
              <%= property.ownershipType %>
            </h4>
          </div>

          <div class="textbox">
            <h3>Age</h3>
            <h4>
              <%= property.propertyAge %> years
            </h4>
          </div>

          <div class="textbox">
            <h3>Furnishing</h3>
            <h4>
              <%= property.furnishedStatus %>
            </h4>
          </div>

        </div>


      </div>
    </div> 


  </div>
</body>

</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  $(document).ready(function () {
    $('.pay-form').submit(function (e) {
      e.preventDefault();

      var formData = $(this).serialize();

      $.ajax({
        url: "/createOrder",
        type: "POST",
        data: formData,
        success: function (res) {
          if (res.success) {
            var options = {
              "key": "" + res.key_id + "",
              "amount": "" + res.amount + "",
              "currency": "INR",
              "name": "" + res.product_name + "",
              "image": "" + res.image + "",
              "order_id": "" + res.order_id + "",
              "handler": function (response) {
                $.ajax({
                  url: "/updateTenant",
                  type: "POST",
                  data: { property_id: res.property_id },
                  success: function (updateRes) {
                    if (updateRes.success) {
                      alert("PAYMENT SUCCESSFULL AND TENANT ASSIGNED!");
                    } else {
                      alert("PAYMENT FAILED!");
                    }
                  },
                  error: function (err) {
                    console.error(err);
                    alert("An error occurred while updating the tenant.");
                  }
                });
              },
              "prefill": {
                "contact": "" + res.contact + "",
                "name": "" + res.name + "",
                "email": "" + res.email + ""
              },
              "theme": {
                "color": "#2300a3"
              },
              "method": {
                "netbanking": true,
                "card": true,
                "upi": true,
                "wallet": true,
                "paylater": true
              },
            };
            var razorpayObject = new Razorpay(options);
            razorpayObject.on('payment.failed', function (response) {
              alert("Payment Failed");
            });
            razorpayObject.open();
          }
          else {
            alert(res.msg);
          }
        }
      })

    });
  });  
</script>
