<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Requests</title>
</head>
<body>
  <h2>Maintenance Requests</h2>
  
  <% if (maintenanceRequests.length > 0) { %>
    <% maintenanceRequests.forEach(maintenanceRequest => { %>
      
      <p>Tenant Name: <%= maintenanceRequest.tenantName %> </p>
      <p>Property Type: <%= maintenanceRequest.propertyType %> </p>
      <p>Sub Category: <%= maintenanceRequest.subCategory %> </p>
      <p>Address: <%= maintenanceRequest.address %> </p>
      <p>Date: <%= maintenanceRequest.date.toDateString() %> </p>
      
      <a href="/request/<%= maintenanceRequest._id %>"><button>View</button></a>
      
    <% }); %>
  <% } else { %>
    <p>No maintenance requests found.</p>
  <% } %>

  <% if (info) { %>
    <script>
      window.onload = function () {
        alert('<%= info %>');
      };
    </script>
    <% } %>
  
</body>
</html>
