<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentEstate | Tenant Portal</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="stylesheets/tenant_properties.css">

</head>

<body>

  <div class="navbar">
    <img src="/images/Logo.svg" alt="Logo">
    <div class="heading">RentEstate</div>
    <div class="tabs">
      <a href="/" class="button">Home</a>
      <a href="/vacancies" class="button">Vacancies</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
      ☰
    </a>
  </div>

  <div id="myLinks" class="overlay">
    <a href="javascript:void(0);" class="closebtn" onclick="toggleMenu()">&times;</a>
    <a href="/" class="button">Home</a>
    <a href="/vacancies" class="button">Vacancies</a>
  </div>

  <section class="container">

    <div class="side fit">   

    <div class="sidebar">
     
      <ul class="main_feature">
        <a href="/tenant_portal" class="feature">
          <li>My Profile</li>
        </a>
        <a href="#" class="feature">
          <li>My Properties</li>
        </a>
        <a href="/vacancies" class="feature">
          <li>Find Vacancies</li>
        </a>
      </ul>

      <h3 class="text">~Owners</h3>
      <ul class="main_feature">
        <a href="/my_owners" class="feature">
          <li>My Owners</li>
        </a>
        <a href="/message" class="feature"> 
          <li>Messages</li>
        </a>
      </ul>
    </div>

    <div id="sidebar_icon">
      <img src="/images/sidebar-icon.png" alt="error" class="icon1">
    </div>
  
   </div>


    <div class="diff_features">
       <div class="listings">
      <div class="grid_item">
        <div class="property-item">
                  <div class="img-box">

                    <img src="/images/home2.jpg" class="img" alt="">
                    <div class="bg"></div>
                  </div>
                       <div class="card-content">
                        <h2 class="card-title">3 BHK Villa</h2>
                        <p class="card-location">123 Main Street, Anytown, USA</p>
                        <p class="card-price">$1,200/month</p>
                        <a href="/property" target="_blank" class="prop"><button class="card-button">View Details</button></a>
                   </div> 
                   
                  </div>
                </div>
              </div>
              
            </div>

       <% properties.forEach(property=> { %>
              <div class="card-content">
                <img src="<%= property.image.path %>" alt="Property Image">
                <h2 class="card-title"><%= property.subCategory %> <%= property.propertyType %></h2>
                <p class="card-location"><%= property.address %>, <%= property.city %>, <%= property.state %></p>
                <p class="card-price">₹<%= property.price %>/month</p>
                <p class="card-price"> <%= property._id %> </p>
                <a href="/property" target="_blank" class="prop"><button class="card-button">View Details</button></a>    
              </div>            
            <% }) %>




  </section>




  <script src="javascripts/tenant_properties.js"></script>
</body>

</html>
